@using Mihaylov.Web.Models.Cluster
@model ClusterMainModel

<table class="table table-bordered table-striped" id="cluster-grid">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Release</th>
            <th>Version</th>
            <th>Helm</th>
            @* <th>App</th> *@
            <th>ReleaseUrl</th>
            <th>Deployment</th>
            <th>Files</th>
            <th>Pods</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_AddVersion", Model.Version)
        @await Html.PartialAsync("_NewLine")

        @foreach (var application in Model.Applications)
        {
            @await Html.PartialAsync("_Application", application)
        }

        @await Html.PartialAsync("_NewLine")
        @await Html.PartialAsync("_AddApplication", Model.Input)
        @await Html.PartialAsync("_AddAdditional", Model.Additional)
    </tbody>
</table>