@using Mihaylov.Web.Models.Cluster
@model ClusterMainModel

<div id="cluster-main-container" class="form-distance">
    @Html.ValidationSummary()

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#cluster-grid-tab">Один клъстър</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#parser-settings-grid-tab">Конфигурации</a>
        </li>
    </ul>

    <div id="cluster-container" class="tab-content">
        <div id="cluster-grid-tab" class="tab-pane container fade in show active">
            @await Html.PartialAsync("_Cluster", Model)
        </div>
        <div id="parser-settings-grid-tab" class="tab-pane container fade">
            @await Html.PartialAsync("_ParserSetttings", Model)
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/cluster.js" asp-append-version="true"></script>
}