@using Mihaylov.Common.Host.Authorization;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mihaylov</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mihaylov.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Михайлов</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gallery" asp-action="Index">Галерия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Weather" asp-action="Index">Време</a>
                        </li>
                        @if (User.IsAdmin())
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Снимки</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Site" asp-action="Index">Сайт</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Media" asp-action="Duplicates">Дубликати</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Media" asp-action="Sort">Сортиране</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Media" asp-action="RenamePics">Преименуване</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Други</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Concert" asp-action="Index">Концерти</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Cluster" asp-action="Index">Клъстър</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Nexus" asp-action="Index">Nexus</a>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Velero" asp-action="Index">Velero</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid body-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - mihaylov-s.eu
            @if (User.IsAdmin())
            {
                <text>- </text>            
                <a asp-area="" asp-controller="Home" asp-action="ModuleInfo">Modules</a>
            }
        </div>
    </footer>

    <span class="serverUrl" data-url="@Context.Request.PathBase"></span>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popperjs/core/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main-layout.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
