<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net452" />
  <package id="JustMock" version="2021.2.511.1" targetFramework="net461" />
  <package id="log4net" version="2.0.12" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="3.9.0" targetFramework="net461" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="2.2.3" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.2.3" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="Ninject.Extensions.Logging" version="3.3.0" targetFramework="net461" />
  <package id="Ninject.Extensions.Logging.Log4net" version="3.3.0" targetFramework="net461" />
</packages>