@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logo.png" style="height:200px" />
    <h1 class="display-4">Welcome</h1>
    <div class="jumbotron">The site is under development</div>
</div>
