@using Mihaylov.Api.Weather.Client
@model IEnumerable<CurrentWeatherResponse>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Град</th>
            <th>Локална Дата</th>
            <th>Условия</th>
            <th>Условия</th>
            <th>Температура</th>
            <th>Чувства се като</th>
            <th>Вятър</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weather in Model)
        {
            @await Html.PartialAsync("_CurrentWeatherRow", weather)
        }

        <tr id="current-add-new-row">
            <td colspan="2">
                <input type="text" id="current-new-city-imput" placeholder="Добави нов град" role="presentation" aria-autocomplete="none" autocomplete="false" />
                <span class="btn btn-primary current-add-new-button">Добави</span>
            </td>
            <td colspan="5">
                @await Html.PartialAsync("_WeatherApiLogo")
            </td>
        </tr>

    </tbody>
</table>
