@using Mihaylov.Api.Weather.Client
@model IEnumerable<ForecastWeatherResponse>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Град</th>
            <th>Дата</th>
            <th>Условия</th>
            <th>Условия</th>
            <th>Температури</th>
            <th>Валежи</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weather in Model)
        {
            @await Html.PartialAsync("_ForecastWeatherRow", weather)
        }

        <tr id="forecast-add-new-row">
            <td colspan="2">
                <input type="text" id="forecast-new-city-imput" placeholder="Добави нов град" role="presentation" aria-autocomplete="none" autocomplete="false" />
                <span class="btn btn-primary forecast-add-new-button">Добави</span>
            </td>
            <td colspan="5">
                @await Html.PartialAsync("_WeatherApiLogo")
            </td>
        </tr>

    </tbody>
</table>
