html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating,
.form-distance {
    margin-bottom: 10px;
}

.checkbox-lg {
    width: 1.5rem;
    height: 1.5rem;
}

.field-validation-error,
.validation-summary-errors {
    color: red;
}

.form-distance input.short-width {
    max-width: 120px;
}

.form-distance input.tiny-width {
    max-width: 60px;
}

ul.custom-popover,
ol.custom-popover {
    margin-bottom: 0px;
    padding-left: 20px;
}

#cluster-main-container .container {
    margin-left: initial
}

hr {
    border: none;
    border-bottom: 1px solid darkgray;
}

.table td, .table th {
    padding: .2rem;
    padding-left: .5rem;
}

.table .thead-dark th {
    background-color: lightgray;
    color: black;
}

.button-red {
    color: red;
}

    .button-red:hover {
        color: red;
    }

.highlight {
    background-color: darkgrey;
    padding: 15px;
}

.gallery-container {
}

    .gallery-container a, :hover, :visited, :link, :active {
        color: black;
        text-decoration: none;
    }

    .gallery-container img {
        overflow-clip-margin: content-box;
        overflow: clip;
        vertical-align: middle;
        border-radius: .75rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery-container .title {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 24px;
    }
