html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating,
.form-distance {
    margin-bottom: 10px;
}

.checkbox-lg {
    width: 1.5rem;
    height: 1.5rem;
}

.field-validation-error,
.validation-summary-errors {
    color: red;
}

.form-distance input.short-width {
    max-width: 120px;
}

.form-distance input.tiny-width {
    max-width: 60px;
}

ul.custom-popover {
    margin-bottom: 0px;
    padding-left: 20px;
}

#cluster-main-container .container {
    margin-left: initial
}
