@*@using Mihaylov.Web.Common.Extensions
@using Mihaylov.Web.ViewModels.Dictionaries

@model ChooseCourseExtendedModel

@using (Html.BeginForm("ChooseCourse", "Dictionaries", FormMethod.Post, new { }))
{
    <div class="row">
        <div class="panel">
            @Html.DropDownListFor(m => m.CourseId, Model.Courses.GetDropdownListItems(k => k.Id, t => t.ToString()), "--- Select course ---")
        </div>

        <button type="submit" class="btn btn-default">Open</button>
    </div>
}*@