@*@using Mihaylov.Web.Common.Extensions
@using Mihaylov.Web.ViewModels.Dictionaries

@model IndexExtendedViewModel

<div class="row">
    <div class="panel">
        @Model.Course.ToString()
    </div>
</div>

@Html.PartialAsync("_NewRecord", Model.Record)
*@