@using Mihaylov.Web.Models.Concerts
@model PagerExtended

<div class="col-auto">
    <nav aria-label="">
        <ul class="pagination ustify-content-end">
            <li class="page-item">
                <a class="page-link" href="/Concert/index?page=@(Model.Pager.Page - 1)&activeTab=@Model.ActiveTab">Previous</a>
            </li>

            @for (int i = 1; i <= Model.Pager.PageMax; i++)
            {
                if (i == Model.Pager.Page)
                {
                    <li class="page-item active">
                        <span class="page-link">
                            @(i)
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/Concert/index?page=@i&activeTab=@Model.ActiveTab"> @(i)</a>
                    </li>
                }
            }

            <li class="page-item">
                <a class="page-link" href="/Concert/index?page=@(Model.Pager.Page + 1)&activeTab=@Model.ActiveTab">Next</a>
            </li>

            <li class="page-item disabled">
                <span class="page-link">x @Model.Pager.PageSize</span>
            </li>
        </ul>        
    </nav>
</div>