@using Mihaylov.Api.Site.Client
@using Mihaylov.Web.Models.Configs
@model IEnumerable<AccountType>

@{ int count = 0; int maxColumns = 4; }

<table class="table table-bordered table-striped">
    <caption style="caption-side: top;">Въпроси</caption>
    <thead>
        <tr>
            @for(int i = 0; i < maxColumns - 1; i++)
            {
                <th></th>
            }

            <th>
                <span class="edit-account-type-button btn btn-success" data-id="">
                    <i class="bi @ViewConstants.NewButton"></i>
                </span> 
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>           
            @foreach (var accountType in Model)
            {
                <td>
                    <span>@accountType.Name</span>
                    <span class="edit-account-type-button" data-id="@accountType.Id">
                        <i class="bi  @ViewConstants.EditButton"></i>
                     </span>                                                
                </td>

                count++;
                if (count >= maxColumns)
                {
                    @:</tr><tr>
                    count = 0;
                }
            }

            @if (count > 0)
            {
                for (int i = count; i < maxColumns; i++)
                {
                    <td></td>
                }            
            }            
        </tr>
    </tbody>
</table>

<div id="account-type-info"></div>