@using Mihaylov.Api.Site.Client
@using Mihaylov.Web.Controllers
@using Mihaylov.Web.Models.Configs
@model AccountType

@using (Html.BeginForm(nameof(SiteController.SaveAccountType), SiteController.NAME, FormMethod.Post, new { }))
{
    <div class="form-row">
        <div class="form-group col-auto">
            @Html.TextBoxFor(m => m.Name, new { @class = ViewConstants.EdithorClass, style = ViewConstants.Width500, aria_autocomplete = "none", autocomplete = "off" })
        </div>

        <div class="form-group col-auto">
            @Html.HiddenFor(m => Model.Id)
            <button type="submit" class="submit-btn btn btn-primary">
                <i class="bi @ViewConstants.SaveButton"></i>
            </button>
            <span class="btn btn-danger close-account-type-button">
                <i class="bi @ViewConstants.CloseButton"></i>
            </span>
        </div>
    </div>
}
