@using Mihaylov.Api.Site.Client
@model IEnumerable<QuizPhrase>

<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            @{ int count = 0; int maxColumns = 3; }
            @foreach (var phrase in Model)
            {
                <td class="col-sm-4" data-phrase-order="@phrase.OrderId">@phrase.Text</td>
                if (++count % maxColumns == 0)
                {
                    @:</tr><tr>
                }
            }
        </tr>
    </tbody>
</table>

@using (Html.BeginForm("AddPhrase", "Site", FormMethod.Post, new { }))
{
    <div class="row">
        <div class="panel">
            @Html.Label("phrase")
            @Html.TextBox("phrase", string.Empty, new { style = "width:470px" })
        </div>

        <button type="submit" class="submit-btn btn btn-primary">Save</button>
    </div>
}