@using Mihaylov.Web.Controllers
@using Mihaylov.Web.Models.Site
@model SiteMainModel

<div class="person-details-container">

    @await Html.PartialAsync("_Filter", Model.Filter)

    <div id="add-new-person-search">
        @if (Model.NewPersonFilter != null)
        {
            @await Html.PartialAsync("_AddNewPerson", Model.NewPersonFilter)
        }
    </div>

    <div id="person-info">
        @if (Model.Person != null)
        {
            @await Html.PartialAsync("_AddPerson", Model.Person)
        }
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#people-grid">Grid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#statistics">Statistics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#questions">Въпроси</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#account-types">Акаунти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#phrases">Phrases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#other">Other</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="people-grid" class="tab-pane fade active show">
            @await Html.PartialAsync("_PersonsGrid", Model.Grid)
        </div>
        <div id="statistics" class="tab-pane fade">
            @await Html.PartialAsync("_Statistics", Model.Statistics)
        </div>
        <div id="questions" class="tab-pane fade">
            @await Html.PartialAsync("_QuizQuestionsGrid", Model.AdminData.Questions)
        </div>
        <div id="account-types" class="tab-pane fade">
            @await Html.PartialAsync("_AccountTypeGrid", Model.AdminData.AccountTypes)
        </div>
        <div id="phrases" class="tab-pane fade">
            @await Html.PartialAsync("_QuizPhrasesGrid", Model.AdminData.QuizPhrases)
        </div>
        <div id="other" class="tab-pane fade">
            @await Html.PartialAsync("_OtherTab", Model.OtherTabModel)
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery.cookie/jquery.cookie.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/js/person.js" asp-append-version="true"></script>
    <script src="~/js/peson-signalr.js" asp-append-version="true"></script>
}
